body{
  background-image: url(Back/Home/CityScrape2.jpg);
  margin: 0;
  padding: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  user-select: none;
  color: white;
  
}
table {
  font-family: arial, sans-serif;
  margin-right: auto;
  margin-left: auto;
  border-spacing: 40px;
}

td, th {
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #dddddd;
}
img{
max-width: 100%;
  position: center;
  border-radius: 10px;
}
a:hover{
  color: skyblue;
  background-color: transparent;
  text-decoration: none;
  }
center{
display: block;
margin-right: auto;
margin-left: auto;
text-align: center;
font-family: sans-serif;
font-size: 40px;
color: white;
}

h1 {
/*    background-color: #333;*/
    color: #fff;
    margin-bottom: 0px;
    font-family: 'Oswald', sans-serif;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease-in-out;
    font-size: 60px;
    text-align: center;
    border: none;
  border-bottom: 1px solid white;
  letter-spacing: 4px;
}

h2{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color:white;
    font-size: 30px;
    letter-spacing: 4px;
    border: none; /* Remove the default border styles */
    border-bottom: 1px solid #ccc;
}

.image-container {
            position: relative;
            display: inline-block;
            padding: 10px 0px 10px 0px;
            
           
        }

        .image {
            max-width: 100%;
            transition: filter 0.5s;
            object-fit: cover;
            margin-top: 20px;
            
            
        }

        .name {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 1);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            opacity: 0;
            transition: opacity 0.5s;
            font-family: 'Oswald', sans-serif;
            font-size: 40px;
        }

        .image-container:hover .image {
            filter: blur(5px);
        }

        .image-container:hover .name {
            opacity: 1;
        }



/* NAVIGATION*/
.navigation{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05141b;
    position: sticky; /* Make the container sticky */
    top: 0; /* Stick to the top of the viewport */
    z-index: 999;
    text-align: center;
    
    
  
  }
  
  .navigation a{
    text-decoration: none;
    color: white;
    padding: 5px 80px 5px 80px; 
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    margin: 10px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    
  }
  .navigation a:hover{
    background-color: #abf2f2;

}
.navigation a:hover:not(.active) {
  background-color: #517070;
}  
  
  .navigation h2{
    display: inline-block;
    color: white;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 2px;
    padding: 0px 100px 0px 0px;
    border: none;
    border-right: 1px solid white;
    font-size: 20px;
  }
  
  .footer{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #05141b;
    text-align: center;
    border: none; /* Remove the default border styles */
    border-top: 1px solid #ccc; /* Set the border as a horizontal line */
    margin: 20px 0;
    
    
  
  }
  .footer a{
    text-decoration: none;
    color: white;
    padding: 5px 40px 5px 40px;  
    border-radius: 5px; 
    transition: background-color 0.3s ease;
    display:inline-block;
    text-align: center;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
  
  }
  
  .footer a:hover{
    background-color: #abf2f2;
  
  }
  
  .footer a:hover:not(.active) {
    background-color: #517070;
  }
  
  .footer2{
    background-color: #05141b;
  }
  p{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    
  }
  .sf{
    background-color: #05141b;
  }
  
  
  
  /*ICONS*/
  
  *{margin: 0; padding: 0; box-sizing: border-box;}
  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  
  a{
    text-decoration: none;
  }
  .icon{
    width: 35px;
    height: 30px;
    border-radius: 50px;
    background: #fff;
    margin: 10px;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    font-family: sans-serif;
    overflow: hidden;
    box-shadow: 5px 10px 20px rgba(150, 150, 150, .3);
    transition: all .3s ease-out;
  }
  .icon:hover{
    width: 120px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
  }
  .icon:hover i{
    color: #fff;
  }
  .icon .fa-facebook-f{
    color: #1A6ED8;
  }
  .fb:hover{
    background: #1A6ED8;
  }
  .icon .fa-twitter{
    color: #1DA1F2;
  }
  .twt:hover{
    background: #1DA1F2;
  }
  .icon .fa-discord{
    color: #234aca;
  }
  .lnk:hover{
    background: #1d4fc5;
  }
  .icon .fa-instagram{
    color: #f762ff;
  }
  .git:hover{
    background: #df4dd0;
  }
  .icon .fa-youtube{
    color: #FE0000;
  }
  .yt:hover{
    background: #FE0000;
  }
  
  /* responsive */
  @media only screen and (min-width: 320px) and (max-width: 990px) {
    .main{
        flex-direction: column;
    }
  }
  
  
  /*ICONS END*/
  /*NAVIGATION END*/
  